@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary:#1abc9c;
    --black: #091114;
    --width-break:600px;
}

body{
    font-family: 'Nunito', sans-serif;
    color: #091114;
    font-weight: 300;
}

nav{
    background-color: var(--primary);
    text-align: center;
}

main{
    margin: auto;
    padding: 3rem;
    max-width: var(--width-break);
}

.header{
    text-transform: uppercase;
    color: white;
}

textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 2rem;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

button{
    background-color: var(--primary);
    border: 1px;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: cursive;
    font-size: large;
    color: white;
    font-weight: 300;
}

#translate-button:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 30px rgba(0, 0, 0,0.05);
}

#translate-button{
    transition: all .2s;
    box-shadow: 0 10px 30px rgba(0, 0, 0,0.15);
    font-family: 'Nunito', sans-serif;
}

.text-converter{
    font-size: 25px;
}

#translate-output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow: scroll;
    border: 1px solid var(--black);
    min-height: 20vh;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.main{
    position: relative;
    height: 600px;
}

.about{
    font-size: 30px;
    bottom: 10px;
    text-align: center;
    background-color: white;
}

footer p {
    color: white;
    background-color: var(--primary);
    width: 100%;
    padding: 1rem;
}